@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Open Sans";
}

@layer base {
  body {
    @apply min-h-[100vh] bg-gradient-to-b from-brownmain-100 to-brownmain-200 bg-fixed;
  }

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gradient-to-b from-brownmain-100 to-brownmain-200;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-brownmain-400;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}
